/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section for Menu */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #1c1c1c;
    color: white;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 36px;
}

.hero-content p {
    font-size: 18px;
}

/* Menu Section */
.menu {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.menu-category {
    margin-bottom: 40px;
}

.menu-category h2 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

.menu-category ul {
    list-style: none;
    padding: 0;
}

.menu-category li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.menu-category li:last-child {
    border-bottom: none;
}

.menu-category span {
    font-weight: bold;
    color: #e67e22;
    margin-left: 20px; /* Added space between item and price */
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: white;
}

/* Footer Social Links */
.social-links {
    margin-top: 10px;
}

.social-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.social-link i {
    margin-right: 8px;
}

.social-link:hover {
    color: lightblue;
    text-decoration: underline;
}
